@font-face {
  font-family: 'HAICON';
  src:  url('../fonts/HAICON.eot?2ru9lv');
  src:  url('../fonts/HAICON.eot?2ru9lv#iefix') format('embedded-opentype'),
    url('../fonts/HAICON.ttf?2ru9lv') format('truetype'),
    url('../fonts/HAICON.woff?2ru9lv') format('woff'),
    url('../fonts/HAICON.svg?2ru9lv#HAICON') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HAICON' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.RH:before {
  content: "\e900";
}
.TWH:before {
  content: "\e901";
}
.TWEH:before {
  content: "\e901";
}
.TWGHFYKH:before {
  content: "\e901";
}
.KWH:before {
  content: "\e901";
}
.TWGHWTSH:before {
  content: "\e901";
}
.WTSH:before {
  content: "\e901";
}
.TWTSH:before {
  content: "\e901";
}
.CMC:before {
  content: "\e902";
}
.SH:before {
  content: "\e903";
}
.TPH:before {
  content: "\e904";
}
.HA:before {
  content: "\e905";
}
.SJH:before {
  content: "\e906";
}
.NDH:before {
  content: "\e907";
}
.KH:before {
  content: "\e908";
}
.BH:before {
  content: "\e909";
}
.BBH:before {
  content: "\e909";
}
.DKCHSB:before {
  content: "\e90b";
}
.SLH:before {
  content: "\e90c";
}
.HHH:before {
  content: "\e90d";
}
.CPH:before {
  content: "\e90e";
}
.KCH:before {
  content: "\e90f";
}
.POH:before {
  content: "\e910";
}
.YCH:before {
  content: "\e911";
}
.AHNH:before {
  content: "\e912";
}
.AHMLNH:before {
  content: "\e912";
}
.TKOH:before {
  content: "\e913";
}
.UCH:before {
  content: "\e914";
}
.QMH:before {
  content: "\e915";
}
.HKEH:before {
  content: "\e916";
}
.PWH:before {
  content: "\e917";
}
.QEH:before {
  content: "\e918";
}
.PYNEH:before {
  content: "\e919";
}
.TMH:before {
  content: "\e91a";
}
