@font-face {
  font-family: 'HAICON';
  src:  url('../fonts/HAICON.eot?7yeyg3');
  src:  url('../fonts/HAICON.eot?7yeyg3#iefix') format('embedded-opentype'),
    url('../fonts/HAICON.ttf?7yeyg3') format('truetype'),
    url('../fonts/HAICON.woff?7yeyg3') format('woff'),
    url('../fonts/HAICON.svg?7yeyg3#HAICON') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HAICON' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default icon for all HA hospitals =========== */
[class^='ic-ha']:before {
  content: "\e905";
}
.ic-ha-RH:before {
  content: "\e900";
}
.ic-ha-TWH:before {
  content: "\e901";
}
.ic-ha-TWEH:before {
  content: "\e901";
}
.ic-ha-TWGHFYKH:before {
  content: "\e901";
}
.ic-ha-KWH:before {
  content: "\e901";
}
.ic-ha-TWGHWTSH:before {
  content: "\e901";
}
.ic-ha-WTSH:before {
  content: "\e901";
}
.ic-ha-TWTSH:before {
  content: "\e901";
}
.ic-ha-CMC:before {
  content: "\e902";
}
.ic-ha-SH:before {
  content: "\e903";
}
.ic-ha-TPH:before {
  content: "\e904";
}
.ic-ha-SJH:before {
  content: "\e906";
}
.ic-ha-NDH:before {
  content: "\e907";
}
.ic-ha-KH:before {
  content: "\e908";
}
.ic-ha-BH:before {
  content: "\e909";
}
.ic-ha-BBH:before {
  content: "\e909";
}
.ic-ha-CHCHK:before {
  content: "\e90a";
}
.ic-ha-CHS:before {
  content: "\e90a";
}
.ic-ha-DKCHSB:before {
  content: "\e90b";
}
.ic-ha-SLH:before {
  content: "\e90c";
}
.ic-ha-HHH:before {
  content: "\e90d";
}
.ic-ha-CPH:before {
  content: "\e90e";
}
.ic-ha-KCH:before {
  content: "\e90f";
}
.ic-ha-POH:before {
  content: "\e910";
}
.ic-ha-YCH:before {
  content: "\e911";
}
.ic-ha-PMH:before {
  content: "\e91b";
  color: #fff;
}
.ic-ha-AHNH:before {
  content: "\e912";
}
.ic-ha-AHMLNH:before {
  content: "\e912";
}
.ic-ha-TKOH:before {
  content: "\e913";
}
.ic-ha-UCH:before {
  content: "\e914";
}
.ic-ha-QMH:before {
  content: "\e915";
}
.ic-ha-HKEH:before {
  content: "\e916";
}
.ic-ha-PWH:before {
  content: "\e917";
}
.ic-ha-QEH:before {
  content: "\e918";
}
.ic-ha-PYNEH:before {
  content: "\e919";
}
.ic-ha-TMH:before {
  content: "\e91a";
}
